
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #1e1e2f;
  color: #e0e0e0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Container geral */
.container {
  display: flex;
  flex: 1;
}

/* Sidebar */
.sidebar {
  background-color: #2a2a3a;
  padding: 20px;
  width: 200px;
  min-height: 100vh;
}

.sidebar h2 {
  color: #61dafb;
  margin-bottom: 20px;
}

.sidebar ul {
  list-style: none;
}

.sidebar a {
  color: #ccc;
  text-decoration: none;
  display: block;
  padding: 8px 0;
  transition: color 0.3s;
}

.sidebar a:hover {
  color: #fff;
}


.main-content {
  flex: 1;
  padding: 20px;
}


nav {
  display: flex;
  gap: 10px;
  padding: 10px 20px;
  background-color: #292940;
  border-bottom: 1px solid #444;
}

nav button {
  background: none;
  border: 1px solid #555;
  color: #ccc;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.2s ease;
}

nav button:hover {
  border-color: #61dafb;
  color: #fff;
}

nav button.active {
  background-color: #3a3a5a;
  border-color: #61dafb;
  color: #61dafb;
}


table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

td {
  border: 1px solid #444;
  padding: 12px;
  text-align: left;
}

th{
  border: 1px solid #444;
  padding: 12px;
  text-align: left;
  background-color: #1c1c2a;
}

thead {
  background-color: #1a1620;
}

tbody tr:nth-child(even) {
  background-color: #2f2f40;
}

tbody tr:nth-child(odd) {
  background-color: #252535;
}

input[type="text"], input[type="email"] {
  background-color: #1c1c2a;
  border: 1px solid #555;
  color: #eee;
  padding: 5px;
  border-radius: 3px;
}


button {
  border: none;
  border-radius: 4px;
  padding: 6px 10px;
  font-size: 14px;
  cursor: pointer;
}

.edit-btn {
  background-color: #007bff;
  color: white;
}

.save-btn {
  background-color: #28a745;
  color: white;
}

.cancel-btn {
  background-color: #6c757d;
  color: white;
}

#delete-selected-btn {
  background-color: #dc3545;
}

input[type="checkbox"] {
  transform: scale(1.2);
}


.alert {
  background-color: #333;
  color: #fff;
  padding: 10px;
  border-left: 4px solid #61dafb;
  margin-top: 10px;
}


table button {
  background-color: #b892f8; 
  color: white;
  border: none;
  border-radius: 4px;
  padding: 6px 10px;
  cursor: pointer;
  margin-right: 5px;
  transition: background-color 0.3s;
}


table td > button:first-child:hover {
  background-color: #007bff; 
}


table td > button:last-child:hover {
  background-color: #dc3545; 
}